<html>
<head>
    {% load static %}
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <script src="{% static "js/jquery-1.9.1.js" %}"></script>
    {% load bootstrap3 %}

    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    {# Display django.contrib.messages as Bootstrap alerts #}
    {% bootstrap_messages %}
    <title>DusTwitter</title>
    <link type="text/css" rel="stylesheet" href="{% static "css/style.css" %}"  media="screen,projection"/>
</head>
<body>

    <div class="page-header">
        <h1><a href="/">DusTwitter</a></h1>
    </div>

    <div id='container-home'class="container">
        <div class="panel-group">
            {% for comment in comments %}
                <div class="panel panel-primary">
                    <div class="panel-heading">{{comment.author}}</div>
                    <div class="panel-body">{{comment.comment}}</div>
                </div>
            {% endfor %}
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    {% if user.is_authenticated %}
        Olá, {{user}}
        <a href="{% url "auth:logout" %}">Logout</a>
        <br>
        <br>
        <form class="form" action="{% url "comment:new" %}" method="post">
            {% csrf_token %}
            <input type="text" name="comment" id="comment" value="Add your comment" />
            {% buttons submit='OK' reset="Cancel" %}{% endbuttons %}
        </form>
    {% else %}
        <a href="{% url "auth:login" %}">Login</a>
        <a href="{% url "auth:signup" %}">Sign Up</a>
    {% endif %}


</body>
</html>
